<div class="confession_box">

  <div class="co-main">
    <a class="co-up" href="#">
      <div class="co_photo" style="background-image: url({{ cons.confession_author.profile_image }})">
      </div>

      <div class="co-up-text">
        <div class="co-aut-year">
          <p class="co-aut">{{ cons.confession_author.username }}</p>
          <span class="co-year">{{ cons.confession_author.get_profile_year_display }}</span>
        </div>
        <span class="co-title">{{ cons.confession_title|truncatechars:60 }}</span>
      </div>
    </a>

    <div class="co-down-text">
      {{ cons.confession_body|linebreaks|truncatewords:60 }}
    </div>
  </div>

  <div class="co-rank">
    <div class="co-upd-div">
      <a class="co-upd" href="#">
        <i class="fas fa-arrow-up"></i>
      </a>
      <a class="co-upd" href="#">
        <i class="fas fa-arrow-down"></i>
      </a>
    </div>
    <div class="co-upd-i">
      <p class="co-upd-iu"><span class="co-emp ff-num">{{ cons.confession_upvotes }}</span> upvotes</p>
      <p class="co-upd-iv"><span class="ff-num">{{ cons.confession_views}}</span> views</p>
    </div>
  </div>


</div>
