<div class="comment-main">

  <div class="comment-up">
    <div class="comment-photo-div">
      <div class="comment-photo" style="background-image: url({{ request.user.profile_image }})"></div>
    </div>
    <div class="comment-up-text">
      <p class="comment-up-username">
        {{ request.user.username }}
      </p>
    </div>
  </div>
  <div class="comment-down">
    <div class="comment-body-post">
      <form class="comment-form" action="" method="post">
        {% csrf_token %}
        {{ co_form.comment_body }}
        <button class="comment-sub-btn" type="submit">Comment</button>
      </form>
    </div>
  </div>
</div>
