{% load main_external_filters %}
<div class="confession_box confession_profile">

  <div class="co-main">
    <div class="co-up">
      <div class="co_photo_meta_div">
        <a href="{% url 'uprofile:profile_view' cons.confession_author.profile_slug %}" class="co_photo" style="background-image: url({{ cons.confession_author.profile_image }})"></a>
        <div class="co-aut-year">
          <a href="{% url 'uprofile:profile_view' cons.confession_author.profile_slug %}" class="co-aut {{cons.confession_author|m_or_f_color}}">{{ cons.confession_author.username }}</a>
          <span class="co-year">{{ cons.date_created_at|timesince }} ago</span>
          <span class="co-year">#{{ cons.id }}</span>
        </div>
        {% if cons.confession_author.profile_slug == request.user.profile_slug %}
        <div class="co-up-del-div">
          <i class="fas fa-times co-up-delete"></i>
        </div>
        {% endif %}
      </div>

      <div class="co-up-text">
        <a href="{% url 'home:confession_view' cons.confession_slug %}" class="co-title">{{ cons.confession_title|truncatechars:60 }}</a>
      </div>
    </div>

    <a href="{% url 'home:confession_view' cons.confession_slug %}">
      <div class="co-down-text">
        {{ cons.confession_body|linebreaks|truncatewords:60 }}
      </div>
    </a>
  </div>

  <div class="co-rank">
    <div class="co-upd-div">
      <a class="co-upd co-upd-upvote co-anchor" href="{% url 'home:upvote_view' 'confession' cons.confession_slug %}">
        <i class="fas fa-arrow-up co-upd-i co-i-upvote co-upvote-downvote-gylph {% if request.user in cons.confession_upvotes.all %} co-upd-i-active {% endif %}"></i>
      </a>
      <a class="co-upd co-upd-downvote co-anchor" href="{% url 'home:downvote_view' 'confession' cons.confession_slug %}">
        <i class="fas fa-arrow-down co-upd-i co-i-downvote co-upvote-downvote-gylph {% if request.user in cons.confession_downvotes.all %} co-upd-i-active {% endif %}"></i>
      </a>
    </div>
    <div class="co-upd-info co-numbers">
      <p class="co-upd-iu co-upvote-par">
        <span data-title="{% for uuser in cons.confession_upvotes.all %}{{ uuser.username }}, {% endfor %}" class="co-emp co-upvote-digit">{{ cons.confession_upvotes_int }}</span>
        <i class="fas fa-rocket co-co-color" data-title="upvotes"></i>
      </p>
      <div class="co-upd-comments">
        <span class="co-co-color">
          {{ cons.confessioncomment_set.count }}
        </span>
        <i class="fas fa-cookie-bite co-co-color" data-title="comments"></i>
      </div>
      <p class="co-upd-iv">
        <span>{{ cons.confession_views }}</span>
        <i class="fas fa-binoculars" data-title="views"></i>
      </p>
    </div>
  </div>

  {% if request.user.is_authenticated %}
  {% if cons.confession_author.profile_slug == request.user.profile_slug %}
  <form class="co-deletion co-deletion-hidden" action="{% url 'home:confession_delete_view' cons.confession_slug %}" method="post">
    {% csrf_token %}
    <div class="co-deletion-warning">
      <p>Are you sure you want to delete this confession? This proccess is unrevokable</p>
    </div>
    <div class="co-deletion-opters">
    <button type="submit" class="co-deletion-opt co-del-warn">Yes, delete</button>
    <span class="co-deletion-opt co-del-no">No, do not delete</span>
    </div>
  </form>
  {% endif %}
  {% endif %}

</div>
