<div class="confession_box">

  <div class="co-main">
    <div class="co-up" href="#">
      <div class="co_photo_meta_div">
        <div class="co_photo cop_f">
        </div>
        <div class="co-aut-year co-a-y-f">
          <div class="co-aut-f"></div>
          <div class="co-time-f"></div>
        </div>
      </div>

      <div class="co-up-text-f">
      </div>
    </div>

    <div class="co-down-text">
      <div class="co-body not-that-much-hidden-easter-egg">
        <span class="co-b-f">
          Coded with love by Kastriot Kastrati
        </span>
        <span class="co-b-f">
          12/29/2018, 1:49 AM, Listening to 'Sleep Party People - I'm not human at all'..
        </span>
        <span class="co-b-f">
          'Alan Parsons Project - Old and Wise' just started playing... anyways I'm hungry and gonna go eat something after some more coding..
        </span>
      </div>
    </div>
  </div>

  <div class="co-rank">
    <div class="co-upd-div co-upd-div-f">
      <div class="co-upd-f"></div>
      <div class="co-upd-f"></div>
    </div>
    <div class="co-upd-i">
      <span class="co-upd-iv-f">Easter egg</span>
    </div>
  </div>


</div>
