{% extends 'base.html' %}
{% load static %}

{% block title %} Uakers confessions {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block mn-co-underbar-up %}mn-underbar-up{% endblock %}

{% block body %}

  <div class="full-underlier">

    {% if request.user.is_authenticated %}
    <div class="post-conf">
      {% include 'home/post_confession.html' %}
    </div>
    {% endif %}

    <div class="full-grid">
      {% for cons in all_conf %}
      {% include 'home/confession_box.html' %}
      {% endfor %}
    </div>

  </div>

{% endblock %}
