{% extends 'base.html' %}
{% load static %}
{% block title %} Log in {% endblock %}
{% block liv_su_underbar %}mn-underbar-up{% endblock %}

{% block external %}
  {% if request.user.is_authenticated %}
      <meta http-equiv="REFRESH" content="0;url={% url 'home:home_view' %}">
  {% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'home/css/auth_views.css' %}">
{% endblock %}

{% block body %}
  <!-- ------- Rest of the page, 100vh -------------- -->
  <div class="rest-auth">
    <div class="auth-options">
      {% include 'home/auth_box.html' %}
      <p class="o-auth">
        Don't have an account already? Sign up <a class="o-auth-emp" href="{% url 'home:sign_up_view' %}">here</a>
      </p>
    </div>
  </div>
{% endblock %}
