<!-- ------------ Post confession box --------------------------------------- -->
<form class="confession_box_post" action="{% url 'home:confession_post_view' %}" method="post">

  {% csrf_token %}

<!-- ------------------- Main wrapper after form ------------------------- -->
  <div class="co-main">
    <!-- -- The part that is above everything in the div, eg. photo and username -- -->
    <div class="co-up" href="#">
      <div class="co_photo" style="background-image: url({{ request.user.profile_image }})">
      </div>

      <!-- ------ User username, grad year, and title post input ---- -->
      <div class="co-up-text">
        <div class="co-aut-year">
          <p class="co-aut">{{ request.user.username }}</p>
          <span class="co-year">{{ request.user.get_profile_year_display }}</span>
        </div>
        <span class="co-title">{{ co_form.confession_title }}</span>
      </div>
    </div>
    <!-- -------------- end of the "Above" part ------------------ -->

    <!-- The body / down part, with things like confession body form and submit button -- -->
    <div class="co-down-text-post">
      <div class="co-body co-bd-post">
        {{ co_form.confession_body }}
      </div>
    </div>
    <div class="co-post">
      <button class="co-post-btn" type="submit">Submit confession</button>
    </div>
  </div>
  <!-- ----------------------- end of bottom area --------------------------- -->


</form>
