{% extends 'base.html' %}
{% load static %}
{% block title %}Signup{% endblock %}
{% block liv_su_underbar %}mn-underbar-up{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'home/css/auth_views.css' %}">
{% endblock %}

{% block body %}
  <!-- ------- Rest of the page, 100vh -------------- -->
  <div class="rest-auth">
    <div class="auth-options">
      {% include 'home/auth_box.html' %}
      <p class="o-auth">
        Already have an account? Log in <a class="o-auth-emp" href="{% url 'home:log_in_view' %}">here</a>
      </p>
    </div>
  </div>
{% endblock %}
