.full-nav {
  position: inherit;
}

body {
  padding: 0px;
  background-image: url('../assets/sign_up_bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth-options {
  background-color: var(--lighter-background-color);
  padding: 50px;
}

.rest-auth {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 400px;
  border-radius: 6px;
}

.auth-cont {
  box-sizing: border-box;
  padding: 10px 0;
}

.auth-label {
  width: auto;
  color: var(--soothed-text-color);
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.auth-label label {
  font-size: 14px;
}

.auth-inp {
  overflow: hidden;
  box-sizing: border-box;
}

input, select {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-background-color);
  font-size: 18px;
  color: var(--soothed-text-color);
  border: 1px solid var(--darker-background-color);
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
}

input:focus, select:focus {
  border: 1px solid var(--main-highlight-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--main-background-color) inset;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--darker-background-color) inset;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
}

.auth-cont-btn {
  width: 100%;
}

.auth-btn {
  width: 100%;
  border: none;
  background-color: var(--main-highlight-color);
  color: var(--darker-background-color);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.auth-btn:hover {
  background-color: var(--darker-highlight-color);
}

.o-auth {
  font-size: 14px;
  font-weight: 300;
  color: var(--opaque-text-color);
  margin-top: 20px;
}

.o-auth-emp {
  color: var(--main-highlight-color);
  font-weight: 700;
}
