body {
  background-image: url('https://images.pexels.com/photos/1503898/pexels-photo-1503898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-y;
}

.rest-div {
  box-sizing: border-box;
  padding: 100px 200px 100px 200px;
}

.bg-overlayer {
  background-color: var(--main-background-color);
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.co-unique {
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  overflow: hidden;
  border-radius: 3px;
}

.co-up {
  display: flex;
  padding: 10px;
}

.co-photo-div {
  box-sizing: border-box;
  padding-right: 10px;
}

.co-photo {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 35px;
}

.co-meta-text {
  flex: 1;
  padding-left: 5px;
}

.co-meta-usr-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--soothed-text-color);
}

.co-meta-usr {
  font-weight: 800;
}

.co-meta-date {
  font-size: 15px;
}

.co-meta-username {
  font-weight: 700;
  color: var(--opaque-text-color);
}

.co-meta-title-div {
  padding-top: 10px;
}

.co-meta-title {
  font-size: 20px;
  color: var(--soothed-text-color);
}

.co-down {
  box-sizing: border-box;
  padding: 10px 30px 10px 25px;
  color: var(--soothed-text-color);
  font-size: 17px;
  overflow: hidden;
  word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.co-rank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-top: 1px solid var(--lighter-background-color);
}

.co-vote {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-upd-i {
  color: var(--soothed-text-color);
  font-size: 18px;
  margin-right: 30px;
  cursor: pointer;
}

.co-upd:hover .co-upd-i {
  color: var(--main-highlight-color);
}

.co-upd:hover .co-upvote-downvote-gylph {
  color: var(--main-highlight-color);
}

.co-upd-i-active {
  color: var(--main-highlight-color);
}

.co-upd-info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-upd-iu {
  color: var(--soothed-text-color);
  font-size: 16px;
  margin-left: 30px;
  white-space: nowrap;
}

.ff-emp {
  color: var(--main-highlight-color);
}

/* ----------- COMMENT ANNOUNCER -------------- */
/* ----------- COMMENT ANNOUNCER -------------- */
/* ----------- COMMENT ANNOUNCER -------------- */
.co-comment-announcer {
  display: flex;
  align-items: center;
  color: var(--soothed-text-color);
  margin-left: 30px;
}

.co-cat {
  margin-left: 7px;
}

.co-cai {
  color: var(--main-highlight-color);
  font-size: 18px;
}

.co-cat-nr {
  color: var(--main-highlight-color);
  margin-right: 5px;
}

.co-arrowd {
  margin-left: 10px;
  font-size: 16px;
}

/* ----------- COMMENT STYLING ---------------- */
/* ----------- COMMENT STYLING ---------------- */
/* ----------- COMMENT STYLING ---------------- */

.co-comments {
  background-color: var(--darker-background-color);
  border-top: 1px solid var(--main-highlight-color);
  border-radius: 3px;
}

.comment-main {
  box-sizing: border-box;
  border: 1px solid var(--lighter-background-color);
  border-top: none;
  border-radius: 3px;
}

.comment-up {
  display: flex;
  padding: 10px;
}

.comment-photo {
  height: 45px;
  width: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 22.5px;
}

.comment-up-text {
  flex: 1;
  box-sizing: border-box;
  padding-left: 10px;
  position: relative;
}

.comment-up-nickname {
  color: var(--soothed-text-color);
  font-size: 17px;
  font-weight: 700;
}

.comment-up-username {
  font-size: 15px;
  color: var(--opaque-text-color);
}

.comment-up-date {
  color: var(--soothed-text-color);
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.comment-body {
  box-sizing: border-box;
  color: var(--soothed-text-color);
  font-size: 14px;
  padding: 0 10px 10px 20px;
}

.co-cm-rank {
  border-top: 1px solid var(--lighter-background-color);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.co-cm-functions {
  display: flex;
}

.co-cm-a {
  margin-right: 30px;
  color: var(--soothed-text-color);
}

.co-cm-f {
  color: var(--soothed-text-color);
}

/* ------------ Confession comment post -------------------- */
/* ------------ Confession comment post -------------------- */
/* ------------ Confession comment post -------------------- */
.comment-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


#id_comment_body {
  background-color: var(--upto-darker-background-color);
  width: 100%;
  height: auto;
  height: 35px;
  box-sizing: border-box;
  padding: 4px 10px;
  color: var(--soothed-text-color);
  outline: none;
  border: 2px solid var(--lighter-background-color);
  border-radius: 7px;
  overflow: hidden;
}

#id_comment_body:focus {
  border: 2px solid var(--main-highlight-color);
}

.comment-body-post {
  box-sizing: border-box;
  color: var(--soothed-text-color);
  font-size: 14px;
  padding: 10px 30px 30px 30px;
}

.comment-sub-btn {
  border: none;
  background-color: var(--main-highlight-color);
  color: var(--darker-background-color);
  outline: 1px solid var(--lighter-background-color);
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
}

.comment-sub-btn:hover {
  background-color: var(--darker-highlight-color);
}


/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
/* This is here and not used common_views.css because it's just this bit
---- and there is no need to clog up with unneccesary code from common_views.css */
.like-not-loggedin {
  overflow: hidden;
  position: fixed;
  top: 50px;
  height: auto;
  min-width: 100%;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
}

.like-not-loggedin-p {
  box-sizing: border-box;
  padding: 5px 12px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-highlight-color);
}

.dp-none {
  display: none;
}


/* ------------------------- MALE OR FEMALE COLOR ----------------------------- */

.lmi-m {
  color: var(--male-main-color);
}

.lmi-f {
  color: var(--female-main-color);
}
