body {
  background-image: url('https://i.pinimg.com/originals/45/9d/db/459ddbb53bb2c675d46ac75d83bce93f.gif');
  background-size: cover;
  background-position: center;
}

.bg-overlayer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  opacity: 0.97;
  z-index: -1;
}

.full-underlier {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.full-grid-l {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.area-announcer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.area-announcer {
  box-sizing: border-box;
  padding: 5px 12px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  border-bottom: 0.1px solid var(--main-highlight-color);
}

.area-an-text {
  color: var(--soothed-text-color);
}

.confession_box {
  width: 495px;
  box-sizing: border-box;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}

.co-main {
  height: 100%;
}

.confession_box:nth-child(odd) {
  margin-right: 10px;
}

.co-up {
  display: block;
  width: 100%;
  box-sizing: border-box;
  /*border-bottom: 2px solid var(--main-background-color);*/
  padding: 15px 20px 15px 15px;
}

.co_photo_meta_div {
  display: flex;
  flex-direction: row;
}

.co_photo {
  height: 60px;
  width: 60px;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.co-up-text {
  box-sizing: border-box;
  color: var(--soothed-text-color);
  padding: 15px 0 0 5px;
}

.co-aut-year {
  display: flex;
  flex-direction: column;
  color: var(--soothed-text-color);
  padding-left: 15px;
}

.co-aut {
  font-size: 16px;
}

.co-year {
  font-size: 14px;
}

.co-title {
  font-size: 20px;
  color: var(--soothed-text-color);
}

.co-down-text {
  padding: 15px 20px;
  color: var(--soothed-text-color);
}

.co-body {
  color: var(--soothed-text-color);
  font-size: 16px;
}

.co-rank {
  border-top: 2px solid var(--main-background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.co-upd-div {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-upd {
  margin-right: 15px;
}

.co-upd-i {
  color: var(--soothed-text-color);
  transition: all 0.2s ease-in-out;
}


.co-upd:hover .co-upd-i {
  color: var(--main-highlight-color);
}

.co-upd-i {
  color: var(--soothed-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-upd-i-active {
  color: var(--main-highlight-color);
}

.co-upd-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soothed-text-color);
}

.co-upd-iu {
  margin-right: 20px;
  font-size: 16px;
}

.co-upd-iv {
  font-size: 16px;
}

.co-emp {
  color: var(--main-highlight-color);
}

.co-upd-comments {
  margin-right: 20px;
}

.co-co-color {
  color: var(--main-highlight-color);
}

/* ----------- Confession post form ------------------ */

.non-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.non-show-post-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ns-text {
  box-sizing: border-box;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soothed-text-color);
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  margin: 10px 0px;
  border-radius: 2px;
  cursor: pointer;
}

.post-conf {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.post-conf-zero {
  height: 0px;
  min-width: 0%;
  max-width: 0%;
  width: 0%;
}

.confession_box_post {
  width: 495px;
  box-sizing: border-box;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.co-main-post {
  height: 100%;
}

.co-down-text-post {
  padding: 15px 20px;
}

#id_confession_title {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: var(--main-background-color);
  color: var(--soothed-text-color);
  padding: 4px 12px 4px 8px;
  border: 2px solid var(--lighter-background-color);
  border-radius: 4px;
}

#id_confession_body {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  width: 100%;

  max-height: 120px;
  min-height: 120px;
  height: 120px;

  background-color: var(--main-background-color);
  color: var(--soothed-text-color);
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 6px 16px 16px 10px;
  border: 2px solid var(--lighter-background-color);
  border-radius: 4px;
}

.co-up-text-post {
  padding: 0px;
  padding-left: 15px;
  margin: 0px;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  flex-direction: column;
  color: var(--soothed-text-color);
}

.co-aut-year-post {
  display: flex;
  justify-content: space-between;
  color: var(--soothed-text-color);
  margin-bottom: 5px;
}

#id_confession_title::placeholder, #id_confession_body::placeholder {
  color: var(--opaque-text-color);
}

#id_confession_body:focus, #id_confession_title:focus {
  border: 2px solid var(--main-highlight-color);
}

.co-post-btn {
  border: none;
  outline: none;
  background-color: var(--main-background-color);
  border: 1px solid var(--lighter-background-color);
  padding: 6px 11px;
  border-radius: 2px;
  color: var(--soothed-text-color);
  cursor: pointer;
}

.co-emoji {
  background-color: var(--main-background-color);
  padding: 6px 11px;
  color: var(--soothed-text-color);
  border: 1px solid var(--darkest-background-color);
  border-radius: 2px;
  margin-right: 5px;
}

.co-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
  cursor: context-menu;
}

.co-post-btn:hover {
  border-color: var(--main-highlight-color);
}

.co-bd-post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.co-up-post {
  display: block;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 15px 20px 0 15px;
}


/* -------------------- Paginator ---------------------- */

.pag-reference-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
}

.pag-reference {
  padding: 5px 12px;
  background-color: var(--darker-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soothed-text-color);
}

.act-pg {
  color: var(--main-highlight-color);
}

.pir {
  color: var(--soothed-text-color);
  margin-left: 10px;
}

.pag-icon {
  color: var(--soothed-text-color);
  margin-right: 10px;
}


/* --------------- confession box container adjustments --------------------- */

.cop_f {
  background-color: var(--main-background-color);
}


.co-a-y-f {
  width: 50%;
  padding-left: 0px;
  margin-left: 15px;
}

.co-aut-f {
  background-color: var(--main-background-color);
  width: 100%;
  height: 18px;
}

.co-time-f {
  background-color: var(--main-background-color);
  width: 60%;
  margin-top: 10px;
  height: 18px;
}

.co-up-text-f {
  padding: 10px 0;
  width: 80%;
  background-color: var(--main-background-color);
  margin-top: 15px;
  margin-left: 5px;
}

.co-b-f {
  margin-bottom: 4px;
  background-color: var(--main-background-color);
  color: var(--main-background-color);
  cursor: context-menu;
}

.co-upd-div-f {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.co-upd-f {
  height: 100%;
  padding: 0 8px;
  background-color: var(--main-background-color);
  margin-right: 15px;
}

.co-upd-i-f {
  background-color: var(--main-background-color);
}

.co-upd-iv-f {
  background-color: var(--main-background-color);
  color: var(--main-background-color);
  cursor: context-menu;
}

/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
/* ----------------- NOT LOGGED IN AND LIKED ------------------ */
.like-not-loggedin {
  overflow: hidden;
  position: fixed;
  top: 50px;
  height: auto;
  min-width: 100%;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
}

.like-not-loggedin-p {
  box-sizing: border-box;
  padding: 5px 12px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-highlight-color);
}

.dp-none {
  display: none;
}
