<div class="quans_container">

  <div class="quans_box qb_que">

    <div class="quans_meta_content">
      <div class="quans_photo_div">
        <a href="{% url 'uprofile:profile_view' cons.question_author.profile_slug %}" class="quans_photo" style="background-image: url({{ cons.question_author.profile_image }})"></a>
      </div>

    </div>

    <div class="quans_body">

      <div class="quans_meta_text">
        <p class="quans_meta_username {% if cons.question_author.get_profile_sex_display == 'Female' %} lmi-f {% else %}lmi-m{% endif %}">{{ cons.question_author.username }}</p>
        <p class="quans_meta_date">{{ cons.date_created_at }}</p>
      </div>
      {{ cons.question_body|linebreaks }}
    </div>

    {% if cons.question_author.profile_slug == request.user.profile_slug %}
    <div class="co-up-del-div co-up-del-div-pf">
      <div>
        <div>
          <i class="fas fa-times co-up-delete"></i>
        </div>
      </div>
    </div>
    {% endif %}

  </div>

  {% if cons.answerpost_set.first %}
  {% with answer=cons.answerpost_set.first %}
  <div class="quans_box qb_ans">

    <div class="quans_meta_content">
      <div class="quans_photo_div">
        <a href="{% url 'uprofile:profile_view' answer.answer_author.profile_slug %}" class="quans_photo" style="background-image: url({{ answer.answer_author.profile_image }})"></a>
      </div>
    </div>

    <div class="quans_body">
      <div class="quans_meta_text qmt2">
        <p class="quans_meta_username {% if answer.answer_author.get_profile_sex_display == 'Female' %} lmi-f {% else %}lmi-m{% endif %}">{{ answer.answer_author.username }}</p>
        <p class="quans_meta_date">{{ answer.answer_created_at }}</p>
      </div>
      {{ answer.answer_body|linebreaks }}
    </div>

  </div>
  {% endwith %}
  {% endif %}


  {% if cons.question_author.profile_slug == request.user.profile_slug %}
  <form class="co-deletion co-deletion-hidden" action="{% url 'uprofile:question_delete_view' cons.question_slug %}" method="post">
    {% csrf_token %}
    <div class="co-deletion-warning">
      <p>Are you sure you want to delete this question? This proccess is unrevokable</p>
    </div>
    <div class="co-deletion-opters">
    <button type="submit" class="co-deletion-opt co-del-warn">Yes, delete</button>
    <span class="co-deletion-opt co-del-no">No, do not delete</span>
    </div>
  </form>
  {% endif %}

</div>
