{% extends 'base.html' %}
{% load static %}
{% load main_external_filters %}
{% load follow_numbers %}
{% block title %}{{ user_profile.username }}{% endblock %}


{% block upro-underbar-up %}{% if isuser %}mn-underbar-up{% endif %}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'common_views.css' %}">
  <link rel="stylesheet" href="{% static 'uprofile/css/profile_view.css' %}">
{% endblock %}

{% block body %}

  {% if not request.user.is_authenticated %}
  {% include 'home/upvote_error.html' %}
  {% endif %}

  <div class="main-container">
    <div class="bg-overlayer">
    </div>
    <div class="left-user-div">
      <div class="left-user">

        <div class='left-photo-div'>
          <div class="left-photo" style="background-image: url({{ user_profile.profile_image }})">
          </div>
          <pre class="left-meta-uy {{user_profile|m_or_f_color}}">{{ user_profile.profile_nickname }}</pre>
          <p class="left-meta-uys">@{{ user_profile.username}}</p>
        </div>

        <div class="left-meta-info-wrap">
          <span class="left-meta-info {{ user_profile|m_or_f_color}}">
            {{ user_profile.get_profile_sex_display }}
          </span>
          <span class="left-meta-info left-meta-co">
            Confessions:
            {{ user_confession_number }}
          </span>
          <span class="left-meta-info left-meta-qu">
            Question & Answers:
            {{ user_questions.count }}
          </span>
          <a href="{% url 'uprofile:followed_view' user_profile.profile_slug %}" class="left-meta-info">
            Followers:
            {{ user_profile|rec_followed_by }}
          </a>
          <a href="{% url 'uprofile:following_view' user_profile.profile_slug %}" class="left-meta-info">
            Following:
            {{ user_profile|rec_following }}
          </a>
        </div>
        {% if request.user.is_authenticated %}
        {% if not isuser %}
        {% if not have_followed_them %}
        <div class="lmi-div">
          <a href="{% url 'uprofile:follow_profile_view' user_profile.profile_slug %}" class="left-meta-btn">Follow</a>
        </div>
        {% else %}
        <div class="lmi-div">
          <a href="{% url 'uprofile:follow_profile_view' user_profile.profile_slug %}" class="left-meta-btn left-meta-btn-followed">Followed</a>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}

        {% if isuser %}
        <div class="lmi-div">
          <a href="{% url 'uprofile:user_profile_update_view' %}" class="left-meta-info left-meta-info-hov">Edit Profile</a>
        </div>
        {% endif %}


      </div>
    </div>

    <div class="right-user">

      <div class="right-full">

        {% if request.user.is_authenticated %}
        {% if not isuser %}
        {% include 'uprofile/profile_view_question_post.html' %}
        {% endif %}
        {% endif %}


        {% if user_posts %}
        {% for cons in user_posts %}
        {% if cons.question_body %}
        {% include 'uprofile/profile_view_question_box.html' %}
        {% else %}
        {% include 'home/confession_box.html' %}
        {% endif %}
        {% endfor %}
        {% else %}
        <span class="no_post_notice">
          There are no posts for this user
        </span>
        {% endif %}

      </div>

      {% if user_profile.profile_song %}
      <iframe width="0" height="0" src="{{ user_profile.profile_song }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}

    </div>
  </div>


{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'home/js/upvote_view.js'%}"></script>
{% endblock %}
