<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load main_external_filters %}
    {% load main_notification_tags %}

    {% load humanize %}

    <!-- meta -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- icon -->
    <link href="{% static 'assets/uakers-icon.png' %}" rel="shortcut icon" type="image/png" >

    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- external -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% block external %}
    {% endblock %}

    <!-- default font -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'base850.css' %}" media="screen and (min-width: 0px) and (max-width: 850px)">

    {% block css %}
    {% endblock %}
  </head>
  <body>

    <div class="full-nav">

      <a href="{% url 'home:home_view' %}" class="nav-logo-div">
        <img class="nav-logo" src="{% static 'assets/uakers-logo.png' %}">
      </a>

      <div class="nav-menu">

        {% if user.is_authenticated %}
        {% get_notification_number request.user as the_notification_number %}
        <div class="mn-wrapper">
          <a href="#" class="mn-it {% if the_notification_number is not 0 %} mn-it-notification{% else %} mn-it-neut {% endif %}" title="Notifications">

            <i class="fas fa-fire-alt mn-i-noc">
              <span class="mn-notification-sign live_notification_number" data-href="{% url 'notifications:live_notification_list_view' %}" data-href-read="{% url 'notifications:read_notification_list_view' %}">{{ the_notification_number }}</span>
            </i>
            <div class="mn-undbar"></div>

          </a>

          {% get_notification_list request.user as the_notficiation_list %}
          <div class="mn-drop-list">
            {% if not the_notficiation_list %}
            <div class="mn-drop-item">You have no notifications</div>
            {% endif %}
            {% for notification in the_notficiation_list %}

            <a href="{% if notification.notification_type == 'follow' %}{% url 'uprofile:profile_view' notification.notification_init.profile_slug %}{% elif notification.notification_type == 'likeConf' %}{% url 'home:confession_view' notification.notification_target %}{% endif %}">
              <div class="mn-drop-item {% if not notification.notification_read %}mn-drop-item-new{% endif %}">
                <span class="mn-usr-photo" style="background-image: url({{ notification.notification_init.profile_image }})"></span>
                <p>
                  {{ notification.notification_init.username }}
                  {% if notification.notification_type == 'follow' %}
                  followed you
                  {% elif notification.notification_type == 'likeConf' %}
                  liked your confession
                  {% elif notification.notification_type == 'likeCom' %}
                  liked your comment
                  {% elif notification.notification_type == 'commentConf' %}
                  commented on your confession
                  {% endif %}
                  <span class="notification_opaque">
                    -- {{ notification.notification_created_at|naturaltime }}
                  </span>
                </p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <a href="{% url 'home:home_view' %}" class="mn-it" title="Hub">

          <i class="fas fa-glass-martini-alt mn-i"></i>
          <!--<span class="mn-tx">confessions</span>-->
          <div class="mn-undbar {% block mn-co-underbar-up %}{% endblock %}"></div>

        </a>

        {% if user.is_authenticated %}
        <a href="{% url 'uprofile:profile_view' %}" class="mn-it" title="Profile">

          <i class="fas fa-user-astronaut mn-i"></i>
          <!--<span class="mn-tx">profile</span>-->
          <div class="mn-undbar {% block upro-underbar-up %}{% endblock %}"></div>

        </a>


        <a href="{% url 'home:log_out_view' %}" class="mn-it" title="Log out">

          <i class="fas fa-sign-out-alt mn-i mn-exit"></i>
          <div class="mn-undbar"></div>

        </a>

        {% else %}
        <a href="{% url 'home:log_in_view' %}" class="mn-it" title="Log in or sign up">

          <i class="fas fa-sign-in-alt mn-i"></i>
          <div class="mn-undbar {% block liv_su_underbar %}{% endblock %}"></div>

        </a>

        {% endif %}

      </div>

    </div>

    {% block body %}

    {% endblock %}


    <script type="text/javascript" src="{% static 'home/js/base.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'notifications/js/live_notification_view.js' %}"></script>

    {% block js %}
    {% endblock %}
  </body>
</html>
