<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <!-- meta -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- icon -->
    <link href="{% static 'assets/uakers-icon.png' %}" rel="shortcut icon" type="image/png" >

    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- external -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- default font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css %}
    {% endblock %}
  </head>
  <body>

    <div class="full-nav">

      <div class="nav-logo-div">
        <img class="nav-logo" src="{% static 'assets/uakers-logo.png' %}">
      </div>

      <div class="nav-menu">

        <a href="{% url 'home:home_view' %}" class="mn-it">

          <i class="fas fa-quote-left mn-i"></i>
          <span class="mn-tx">confessions</span>
          <div class="mn-undbar {% block mn-co-underbar-up %}{% endblock %}"></div>

        </a>

        <a href="#" class="mn-it">

          <i class="fas fa-beer mn-i"></i>
          <span class="mn-tx">ratings</span>
          <div class="mn-undbar"></div>

        </a>

        {% if user.is_authenticated %}
        <a href="#" class="mn-it">

          <i class="fas fa-user-astronaut mn-i"></i>
          <span class="mn-tx">profile</span>
          <div class="mn-undbar"></div>

        </a>

        <a href="{% url 'home:log_out' %}" class="mn-it">

          <i class="fas fa-basketball-ball mn-i"></i>
          <span class="mn-tx">log out</span>
          <div class="mn-undbar"></div>

        </a>
        {% else %}
        <a href="{% url 'home:register' %}" class="mn-it">

          <i class="fas fa-mug-hot mn-i"></i>
          <span class="mn-tx">sign up / login</span>
          <div class="mn-undbar"></div>

        </a>

        {% endif %}

      </div>

    </div>

    {% block body %}

    {% endblock %}


    {% block js %}
    {% endblock %}
  </body>
</html>
