body {
  background-color: var(--main-background-color);
  /*background-image: url('https://i.pinimg.com/originals/53/a8/08/53a808759b1edf0ae0b73c711475faf8.gif');*/
  background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-overlayer {
  background-color: var(--main-background-color);
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* ---------------------- LEFT SIDE ----------------------------- */
/* ---------------------- LEFT SIDE ----------------------------- */
/* ---------------------- LEFT SIDE ----------------------------- */

.left-user-div {
  height: auot;
  position: relative;
}

.left-user {
  position: fixed;
  width: 275px;
  min-width: 275px;
  max-width: 275px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--main-background-color);
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 900;
  border: 1px solid var(--darker-background-color);
  border-top: none;
}

.left-photo-div {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darker-background-color);
  border-top: 1px solid var(--main-background-color);
}

.left-photo {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  margin: 0;
  border: 1px solid var(--lighter-background-color);
}

.left-meta-uy {
  font-size: 18px;
  font-weight: 800;
  margin-top: 5px;
  text-align: center;
}

.left-meta-uys {
  color: var(--opaque-text-color);
  font-size: 13px;
  text-align: center;
}

.left-meta-info-wrap {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.left-meta-info {
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid var(--lighter-background-color);
  padding: 4px 8px;
  color: var(--soothed-text-color);
  font-size: 16px;
  border-radius: 5px;
}

.left-meta-info:hover {
  background-color: var(--darker-background-color);
}

.left-meta-co {
  border-color: var(--confession-main-color);
}

.left-meta-qu {
  border-color: var(--qa-main-color);
}

.left-meta-btn {
  border: none;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  padding: 5px 12px;
  color: var(--soothed-text-color);
  cursor: pointer;
  border-radius: 5px;
}

.left-meta-btn:hover {
  border: 1px solid var(--main-highlight-color);
}

.left-meta-btn-followed {
  border: 1px solid var(--main-highlight-color);
}

.left-meta-btn-followed:hover {
  border: 1px solid var(--lighter-background-color);
}

.lmi-div {
  border-top: 1px solid var(--lighter-background-color);
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------- RIGHT SIDE ----------------------------- */
/* ---------------------- RIGHT SIDE ----------------------------- */
/* ---------------------- RIGHT SIDE ----------------------------- */

.right-user {
  box-sizing: border-box;
  padding-left: 300px;
}

.right-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


/* ----------------------- QUESTION / ANSWER BOX ----------------------*/
/* ----------------------- QUESTION / ANSWER BOX ----------------------*/
/* ----------------------- QUESTION / ANSWER BOX ----------------------*/

.quans_container {
  margin-bottom: 30px;
  width: 600px;
  position: relative;
}

.quans_box {
  background-color: var(--darker-background-color);
  display: flex;
  border: 1px solid var(--main-background-color);
  padding: 10px;
}

.qb_que {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.qb_ans {
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quans_meta_content {
  display: flex;
}

.quans_photo_div {
  box-sizing: border-box;
}

.quans_photo {
  display: block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.quans_photo:hover {
  border-radius: 6px;
}

.quans_meta_text {
  display: flex;
  flex-direction: column;
  position: relative;
}


.quans_body_all {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.quans_body {
  flex: 1;
  color: var(--soothed-text-color);
  padding-left: 10px;
}

.quans_body p {
  font-size: 16px;
  box-sizing: border-box;
}

.quans_body p.quans_meta_nickname {
  font-weight: 700;
  display: inline-block;
  width: auto;
}

.quans_body p.quans_meta_username {
  display: inline-block;
  width: auto;
  color: var(--opaque-text-color);
  margin-bottom: 10px;
}

iframe {
  height: 0;
  width: 0;
  border: none;
}


/* ------------------ CONFESSION BOX -------------------------- */

.confession_box:nth-child(odd) {
  margin-right: 0;
}

.confession_profile {
  margin: 0;
  margin-bottom: 30px;
  width: 600px;
}

.co-co-color {
  color: var(--main-highlight-color);
}

/* ------------------------- LMI ---------------------------- */
.lmi-f {
  color: var(--female-main-color);
  border-color: var(--female-main-color);
}

.lmi-m {
  color: var(--male-main-color);
  border-color: var(--male-main-color);
}


/* ----------------------- delete x --------------------- */
.co-up-del-div-pf {
  top: 5px;
  right: 10px;
}

.co-deletion-warning {
  margin-bottom: 5px;
}


/* ----------------------- No post notice ------------------- */
.no_post_notice {
  padding: 5px 12px;
  background-color: var(--main-background-color);
  color: var(--soothed-text-color);
  border-radius: 5px;
}


/* ---------------------------- Question Form ------------------------------- */

#id_question_body {
  background: none;
  outline: none;
  border: none;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--lighter-background-color);
  box-sizing: border-box;
  padding: 5px 10px;
  width: 95%;
  height: 35px;
  color: var(--soothed-text-color);
}

#id_question_body:focus {
  border-color: var(--main-highlight-color);
}

#id_answer_body {
  background: none;
  outline: none;
  border: none;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--lighter-background-color);
  box-sizing: border-box;
  padding: 5px 10px;
  width: 95%;
  height: 35px;
  color: var(--soothed-text-color);
}

#id_answer_body:focus {
  border-color: var(--main-highlight-color);
}

.quans_post_btn {
  padding: 5px 12px;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  color: var(--soothed-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.quans_post_btn:hover, .quans_post_btn:focus {
  border-color: var(--main-highlight-color);
}
