* {
  margin: 0;
  padding: 0;

  font-family: 'Oxygen', sans-serif;
  font-size: 16px;

  transition: all 0.2s ease-in-out;
  text-decoration: none;

  box-sizing: border-box;
}


:root {

  /* ------------- Colors ---------------- */

  --main-highlight-color: #ff0058;
  --opaque-highlight-color: rgba(255, 0, 88, 0.6);
  --secondary-highlight-color: #ff4021;

  /*------ Main background colors ------*/
  --main-background-color: #070707;
  --opaque-background-color: rgba(0, 0, 0, 0.6);

    /*---------- Darker shades ------------*/
  --darker-background-color: #000000;
  --upto-darker-background-color: #050505;

  /*  ----------- Lighter shades ---------- */
  --lighter-background-color: #0C0E11;

  /* ------------ text color ------------- */
  --main-text-color: #fefefe;
  --soothed-text-color: #DFE8EB;
  --opaque-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-background-color);
  padding-top: 50px;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

input, select {
  background: none;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

.ff-num {
  font-family: 'Quicksand', sans-serif;
}

.full-nav {
  height: 50px;
  max-height: 50px;
  background-color: var(--darker-background-color);

  position: absolute;
  top: 0px;
  position: fixed;
  min-width: 100%;
  z-index: 100;
  overflow: hidden;

  clear: both;
}

.nav-logo-div {
  float: left;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 35px;
  max-height: 35px;
}

.nav-menu {
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 40px;
}

.mn-it {
  height: 100%;
  box-sizing: border-box;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15px;
}

.mn-i {
  color: var(--main-text-color);
  font-size: 20px;
}

.mn-tx {
  color: var(--main-text-color);
  font-size: 18px;
  margin-left: 10px;
  text-transform: lowercase;
}

.mn-undbar {
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--main-text-color);
}

.mn-it:hover .mn-undbar {
  width: 100%;
}

.mn-underbar-up {
  width: 100%;
  background-image: linear-gradient(-90deg, var(--secondary-highlight-color), var(--main-highlight-color));
}



/* =============== WEBKIT SCROLLBAR =====================*/

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lighter-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lighter-background-color);
}
