* {
  margin: 0;
  padding: 0;

  font-family: 'Oxygen', sans-serif;
  font-size: 16px;

  transition: all 0.2s ease-in-out;
  text-decoration: none;

  box-sizing: border-box;
}

::selection {
  background-color: var(--main-highlight-color);
  color: var(--main-background-color);
}

:root {

  /* ------------- Colors ---------------- */

  --main-highlight-color: #ff0058;
  --main-highlight-color: #bc0041;
  --darker-highlight-color: #D9004B;
  --opaque-highlight-color: rgba(255, 0, 88, 0.6);
  --secondary-highlight-color: #ff4021;

  /*------ Main background colors ------*/
  --main-background-color: #0B0C0D;
  --opaque-main-background-color: rgba(11, 12, 13, 0.8);

    /*---------- Darker shades ------------*/
  --darker-background-color: #060708;
  --upto-darker-background-color: #09090A;

  /*  ----------- Lighter shades ---------- */
  --lighter-background-color: #111314;

  /* ------------ text color ------------- */
  --main-text-color: #fefefe;
  --soothed-text-color: #DFE8EB;
  --opaque-text-color: rgba(255, 255, 255, 0.6);



  /* -------------- External -------------------- */
  --female-main-color: #FF71A5;
  --male-main-color: #B1A2FF;

  --qa-main-color: #004A99;
  --confession-main-color: #08A6A4;

  --warning-main-color: #990016;
}


body {
  background-color: var(--main-background-color);
  padding-top: 55px;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

input, select {
  background: none;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

.ff-num {
  font-family: 'Quicksand', sans-serif;
}

.full-nav {
  height: 55px;
  max-height: 55px;
  background-color: var(--darker-background-color);

  position: absolute;
  top: 0px;
  position: fixed;
  min-width: 100%;
  z-index: 100;

  clear: both;
}

.nav-logo-div {
  float: left;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 47px;
  max-height: 47px;
}

.nav-menu {
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 40px;
}

.mn-it {
  height: 100%;
  box-sizing: border-box;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15px;
}

.mn-i {
  color: var(--main-text-color);
  font-size: 23px;
}

.mn-exit {
  color: var(--opaque-text-color);
}

.mn-i-noc {
  font-size: 23px;
  position: relative;
}

.mn-notification-sign {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 14px;
  color: var(--main-background-color);
  padding: 3px 4px;
  border-radius: 6px;
  background-color: var(--darker-highlight-color);
  border: 1px solid var(--main-background-color);
  font-weight: 900;
}

.mn-tx {
  color: var(--main-text-color);
  font-size: 18px;
  margin-left: 10px;
  text-transform: lowercase;
}

.mn-tx-noc {
  font-size: 25px;
  margin-left: 10px;
  text-transform: lowercase;
}


.mn-undbar {
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--main-text-color);
}

.mn-it:hover .mn-undbar {
  width: 100%;
}

.mn-underbar-up {
  width: 100%;
  background-color: var(--main-highlight-color);
}


/* --------------- Search menu -------------------- */
.search_div {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.search_form {
  background-color: var(--lighter-background-color);
  padding: 6px 0 6px 12px;
  color: var(--soothed-text-color);
  border-radius: 5px;
}

.search_btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.search_btn i {
  color: var(--soothed-text-color);
  font-size: 20px;

}

.search_inp {
  color: var(--soothed-text-color);
  padding: 0 15px;
  font-size: 18px;
  width: 330px;
  background-color: var(--lighter-background-color);
}



/* =============== WEBKIT SCROLLBAR =====================*/

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lighter-background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lighter-background-color);
}

/* ----------------- TOOLTIP ------------------------*/

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    color: var(--soothed-text-color);
    padding: 5px 12px;
    background-color: var(--darker-background-color);
    border: 1px solid var(--lighter-background-color);
    position: absolute;
    bottom: 20px;
    right: -15px;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
}

[data-title] {
    position: relative;
}


/* ------------------------ sex colors --------------------------- */
.lmi-f {
  color: var(--female-main-color);
}

.lmi-m {
  color: var(--male-main-color);
}


/* ---------------------- Notification colors -------------------------- */
.mn-it-notification {
  color: var(--main-highlight-color);
}

.mn-it-neut {
  color: var(--soothed-text-color);
}


/* ----------------------- drop-down --------------------------- */

.mn-wrapper {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
}

.mn-drop-list {
  position: absolute;
  top: 50px;
  right: 0px;
  max-height: 340px;
  width: 300px;
  background-color: var(--darker-background-color);
  border: 1px solid var(--lighter-background-color);
  display: flex;
  flex-direction: column;
  border-bottom: none;
  z-index: 901;
  visibility: hidden;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
}

.mn-usr-photo {
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  float: left;
}

.mn-drop-item {
  padding: 7px 10px;
  border-bottom: 1px solid var(--lighter-background-color);
  color: var(--soothed-text-color);
  display: flex;
}

.mn-drop-list-active {
  visibility: visible;
  opacity: 1;
}

.mn-drop-item-new {
  box-sizing: border-box;
  border-left: 1px solid var(--main-highlight-color);
}

.notification_opaque {
  font-size: 12px;
  color: var(--opaque-text-color);
  display: inline;
  font-weight: 300;
}
